<div [class.hidden]="!isVisibleBosses_" class="bg-[#1a1614] border border-[#ff4500]/20">
    <aside class="w-1/4 p-2 md:p-3 lg:p-5">
        <nav class="flex flex-col gap-2 text-xl md:text-2xl lg:text-4xl font-[Nordvik]">
            @for (boss of (bosses$ | async); track boss.name) {
            <a class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2 cursor-pointer" (click)="selectBoss(boss.name)">{{ boss.name }}</a>
            }
        </nav>
    </aside>
</div>