<div [class.hidden]="!isVisibleRunes_" class="">
    <aside class="w-1/4 p-2 md:p-3 lg:p-5">
        <nav class="flex flex-col gap-2 text-xl md:text-2xl lg:text-4xl font-[Nordvik]">
            <a href="#Raido"
                class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2"
                (click)="Raido(); $event.preventDefault(); Top()">Raido</a>
            <a href="#Tiwaz"
                class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2"
                (click)="Tiwaz(); $event.preventDefault(); Top()">Tiwaz</a>
            <a href="#Thurisaz"
                class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2"
                (click)="Thurisaz(); $event.preventDefault(); Top()">Thurisaz</a>
            <a href="#Uruz"
                class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2"
                (click)="Uruz(); $event.preventDefault(); Top()">Uruz</a>
            <a href="#Algiz"
                class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2"
                (click)="Algiz(); $event.preventDefault(); Top()">Algiz</a>
        </nav>
    </aside>
</div>