@font-face {
    font-family: 'Roboto';
    src: url('/Fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body,
    p {
        font-family: 'Roboto', sans-serif;
    }
}

.ember-particle {
    position: absolute;
    bottom: -30px;
    background-color: #ffba08;
    border-radius: 50%;
    box-shadow: 0 0 15px 4px rgba(255, 69, 0, 0.9), 0 0 20px 8px rgba(255, 186, 8, 0.4);
    opacity: 0;
    animation-name: ember-fly;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform, opacity;
}
.emerald-particle {
  position: absolute;
  bottom: -20px;
  background-color: #10b981; 
  box-shadow: 0 0 8px #059669;
  box-shadow: 0 0 15px 4px #059669, 0 0 20px 8px rgba(27, 215, 58, 0.4);
  border-radius: 50%;
  opacity: 0.6;
  pointer-events: none;
  animation-name: ember-fly;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform, opacity;
}

@keyframes ember-fly {
    0% {
        transform: translateY(0) translateX(0) scale(1);
        opacity: 0.3;
    }

    10% {
        opacity: 0.6;
    }

    50% {
        transform: translateY(-55vh) translateX(35px) scale(1.1);
        opacity: 0.9;
    }

    80% {
        opacity: 0.3;
    }

    100% {
        transform: translateY(-110vh) translateX(-15px) scale(0.4);
        opacity: 0;
    }
}
@keyframes glow {
    0%, 100% { filter: drop-shadow(0 0 10px rgba(255, 120, 0, 0.4)); }
    50% { filter: drop-shadow(0 0 20px rgba(255, 100, 0, 0.8)); }
  }