<div class="bg-[#1a1614] border-r border-[#ff4500]/10">
    <aside class="w-1/4 p-2 md:p-3 lg:p-5">
        <nav class="flex flex-col gap-2 text-xl md:text-2xl lg:text-4xl font-[Nordvik]">
            <a href="#Characters"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="linkClickedCharacter.emit()">Characters</a>
            <a href="#Weapons"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="linkClickedWeapons.emit()">Weapons</a>
            <a href="#Bosses"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="linkClickedBosses.emit()">Bosses</a>
            <a href="#Enemies"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="linkClickedEnemies.emit()">Enemies</a>
            <a href="#Gods"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="linkClickedGods.emit()">Gods</a>
            <a href="#Runes"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="linkClickedRunes.emit()">Runes</a>
            <a href="#Cards"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="onCardsClick()">Cards</a>
        </nav>
    </aside>
</div>