<footer class="fixed bottom-0 left-0 right-0 border-b-2 border-black-400 flex items-center p-2 md:p-3 lg:p-5 bg-black text-black-900 rounded-t-xl">
    <div class="flex items-center justify-between w-full">  
        <a href="#" class="text-white text-xs md:text-sm lg:text-xl hover:text-blue-500">
            Back to top ↑
        </a>  
        <p class="text-white text-xs md:text-sm lg:text-xl">
            Github: 
                <a class="text-blue-300 underline hover:text-blue-500 hover:cursor-pointer" href="https://github.com/medvemark-10379-svg/Vigrid.git">
                    Vigrid.git
                </a>
        </p>
    </div>
</footer>