<div class="border-b-2 border-black-400 flex items-center mb-6 p-2 md:p-3 lg:p-5 md:mb-6 lg:mb-8 bg-orange-300 text-black-900 rounded-b-xl">
    <H2 class="justify-self-start text-sm md:text-xl lg:text-4xl font-bold pl-6 md:pl-8 lg:pl-10 font-[Nordvik]">
        Vigrid Game
    </H2>
    <nav class="search_container ml-auto flex gap-2">
        <input class="w-35 md:w-45 lg:w-65 border rounded-sm p-0 md:pl-3 lg:pl-5 text-sm md:text-ms lg:text-xl  bg-orange-100 placeholder:font-[Nordvik]" type="text" placeholder="Search for...">
        <button class="border w-15 md:w-20 lg:30 rounded-sm p-0 md:p-1 text-sm md:text-ms lg:text-2xl lg:p-1 bg-orange-100 font-[Nordvik] active:bg-orange-200 active:shadow-inner active:scale-95 hover:cursor-pointer" >Search</button>
    </nav>
</div>
