<div [class.hidden]="!isEnemiesVisible_" class="bg-[#1a1614] border-r border-[#ff4500]/10">
    <aside class="w-1/4 p-2 md:p-3 lg:p-5">
        <nav class="flex flex-col gap-2 text-xl md:text-2xl lg:text-4xl font-[Nordvik]">
            <a href="#Draugr"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="Draugr();$event.preventDefault(); Top()">Draugrs</a>
            <a href="#Wolves"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="Wolves();$event.preventDefault(); Top()">Wolves</a>
            <a href="#Snakes"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="Snakes();$event.preventDefault(); Top()">Snakes</a>
            <a href="#Jotnar"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="Jotnar();$event.preventDefault(); Top()">Jotnar</a>
            <a href="#Muspels_synir"
                class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2"
                (click)="MuspelsSynir();$event.preventDefault(); Top()">Muspels Synir</a>
        </nav>
    </aside>
</div>