
<div [class.hidden]="!isGodsVisible_" class="">
    <aside class="w-1/4 p-2 md:p-3 lg:p-5">
        <nav class="flex flex-col gap-2 text-xl md:text-2xl lg:text-4xl font-[Nordvik]">
            <a href="#ShortSpear" class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2" (click)="Odin(); $event.preventDefault(); Top()">Odin</a>
            <a href="#UlfberhtSword" class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2" (click)="Freyr(); $event.preventDefault(); Top()">Freyr</a>
            <a href="#DaneAxe" class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2" (click)="Thor(); $event.preventDefault(); Top()">Thor</a>
            <a href="#Seax" class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2" (click)="Tyr(); $event.preventDefault(); Top()">Tyr</a>
            <a href="#Shield" class=" text-orange-400 hover:underline hover:scale-110 transition-transform duration-200 ease-in-out hover:pl-2" (click)="Heimdall(); $event.preventDefault(); Top()">Heimdall</a>
        </nav>
    </aside>
</div>