<div [class.hidden]="!isVisible_" class="bg-[#1a1614] border-r border-[#ff4500]/10">
    <aside class="w-1/4 p-2 md:p-3 lg:p-5">
        <nav class="flex flex-col gap-2 text-xl md:text-2xl lg:text-4xl font-[Nordvik]">
            <a href="#Bondi" 
               class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2" 
               (click)="Bondi();$event.preventDefault();Top()">Bondi</a>
            <a href="#Jarl" 
               class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2" 
               (click)="Jarl();$event.preventDefault();Top()">Jarl</a>
            <a href="#Berserkr" 
               class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2" 
               (click)="Berserkr();$event.preventDefault();Top()">Berserkr</a>
            <a href="#Shaman" 
               class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2" 
               (click)="Shaman();$event.preventDefault();Top()">Shaman</a>
            <a href="#Ulfhednar" 
               class="text-[#ff4500] hover:underline hover:scale-110 transition-all duration-600 ease-in-out hover:pl-2" 
               (click)="Ulfhednar();$event.preventDefault();Top()">Ulfhednar</a>
        </nav>
    </aside>
</div>